.slider-container {
  margin: 0 ;
  padding: 40px;
  width: 100%;
  color: #333;
  background: #dedede;
  border: 1px solid #333;
  clear: both;
  z-index: 99;
  @media only screen and (max-width: 492px) {
  	padding: 20px 30px;
  }
  .slick-next:before, .slick-prev:before {
  	color: #333;
  }
}