.movie_data_container {
	margin: 20px -15px;
	height: inherit;
	.movie_img {
		img {
			width: 100%;
		}
	}
	.title, .movie_data {
		border: 1px solid #333;
	    background-color: #dedede;
	    // border-radius: 4px;
	    padding: 20px 25px;
	}
	.title {
		text-align: center;
		margin-top: 0;
		margin-bottom: 14px;
	}
	.movie_content {
		height: 100%;
		.movie_data {
			height: calc(100% + 20px);
			overflow-y: auto;
			.inline-title, .inline-txt-block {
				display: inline-block;
				margin-right: 5px;
			}
			.overview-title {
				text-decoration: underline;
			}
			hr {
			    margin: 0px;
			    border: 0;
			    border-top: 1px solid #999;
			}
			a {
				display: inline-block;
    			padding-top: 5px;
			}
		}
	}
	.show-on-mobile {
		display: none;
	}
	.margin-left-right {
		margin-left: 15px;
		margin-right: 15px;
		width: calc(100% - 30px);
	}
	@media only screen and (max-width: 492px) {
		.show-on-mobile {
			display: block;
		}
		.movie_content {
			padding-left: 0;
			.title {
				display: none;
			}
			.movie_data {
				padding: 10px;
				.overview-title {
					display: none;
				}
				.inline-title {
					margin-top: 0;
					margin-bottom: 0;
				}
				hr {
					display: none;
				}
			}
		}
	}
}